extends layout

block content
  #container
    h1 system shock 2 in numbers
    #header
      .fillers.left
        .green
        .black
      .tabs
        .tab#modules
        .tab#damage.active
        .tab#health
        .tab#tracker
      .fillers.right
        .green
        .black
    #main