extends layout

block content
  #container
    #header
      .tabs
        .tab#modules modules
        .tab#damage damage
        .tab#health health
        .tab#tracker tracker
      .filler2
      .filler1
    #main