doctype 5
html
  head
    title SS2Numbers
    link(rel='icon', type='image/png', href='/images/favico.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='text/javascript', href='/javascripts/jquery.js')
    link(rel='text/javascript', href='/javascripts/underscore.js')
  body
    block content