doctype 5
html
  head
    title SS2Numbers
    link(rel='icon', type='image/png', href='/images/favico.png')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/lib/jquery.js')
    script(type='text/javascript', src='/js/lib/require.js')
    script(type='text/javascript', src='/js/lib/underscore.js')
    script(type='text/javascript', src='/js/lib/backbone.js')
    script(type='text/javascript', src='/js/lib/marionette.js')
    script(type='text/javascript', src='/js/app/ss2app.js')
  body
    block content