mainBkg= #222
mainColor= #0fba8e
mainColorDarker= #043

body
  padding 0px
  background #000
  color mainColor
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

#container
  width 960px

h1
  font-variant: small-caps;
  font-size: 36px;

#header
  position relative
  .tabs
    background-color mainColorDarker
    border-radius 20px 20px 0 0
    width 204px
    height 48px
    padding 4px
    .tab
      height 48px
      width 48px
      font-size 10px
      display inline-block
      background-color mainBkg
      text-align center
      margin-right 4px
      &:first-child
        border-top-left-radius 17px
      &:last-child
        border-top-right-radius 17px
        margin-right 0px
      &#modules
        background-image url('../images/cybermodule_off.png')
  .filler1, .filler2
    display inline-block
    position absolute
    left 212px
  .filler1
    top 0px
    background-color #000
    width 300px
    height 56px
    border-bottom-left-radius: 12px
  .filler2
    top 20px
    width 300px
    height 36px
    background-color mainColorDarker