mainBkg= #222
mainColor= #0fba8e
mainColorDarker= #043

body
  padding 0px
  background #000
  color mainColor
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

#container
  width 960px

h1
  font-variant: small-caps;
  font-size: 36px;

#header
  position relative
  .tabs
    background-color mainColorDarker
    border-radius 20px 20px 0 0
    position absolute
    left 200px
    width 204px
    height 48px
    padding 4px
    .tab
      height 48px
      width 48px
      font-size 10px
      display inline-block
      background-color mainBkg
      text-align center
      margin-right 4px
      cursor pointer
      background-color #222
      &:first-child
        border-top-left-radius 17px
      &:last-child
        border-top-right-radius 17px
        margin-right 0px
      &.active
        background-color mainColorDarker
      &#modules
        background-image url('../images/modules-inactive.png')
        &:hover
          background-image url('../images/modules-active.png')
      &#damage
        background-image url('../images/damage-inactive.png')
        &:hover
          background-image url('../images/damage-active.png')
      &#health
        background-image url('../images/health-inactive.png')
        &:hover
          background-image url('../images/health-active.png')
      &#tracker
        background-image url('../images/tracker-inactive.png')
        &:hover
          background-image url('../images/tracker-active.png')
  .fillers
    position absolute
    .black, .green
      position absolute
      width 200px
    .black
      top 16px
      background-color #000
      height 40px
    .green
      top 20px
      height 36px
      background-color mainColorDarker
    &.left
      left 0px
      .black
        border-bottom-right-radius: 200px 100px
    &.right
      left 412px
      .black
        border-bottom-left-radius: 200px 100px