!!!strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
%head
  %title System Shock 2 in numbers
%body
  %h2 Med / Sci modules
  %fieldset
    %legend found
    .input
      %input{type: 'checkbox'}
      %label Body near Cryo B Upgrade Units
    .input
      %input{type: 'checkbox'}
      %label Body near Recharge Unit in Pumping Station
    .input
      %input{type: 'checkbox'}
      %label Body in Lower level of Primate research +2
    .input
      %input{type: 'checkbox'}
      %label Body in Medical scanner in High radiation area +2
    .input
      %input{type: 'checkbox'}
      %label Body in upper area at end of Crew Quarters +4
  %fieldset
    %legend earned
    .input
      %input{type: 'checkbox'}
      %label Escaping the decompression of Cryo Recovery A +4
    .input
      %input{type: 'checkbox'}
      %label Accessing the Science Sector +4
    .input
      %input{type: 'checkbox'}
      %label Re-powering the Bulkhead to Medical +4
    .input
      %input{type: 'checkbox'}
      %label Recovering a keycard for the Crew Quarters +5
    .input
      %input{type: 'checkbox'}
      %label Locating a keycard for the R&D sector +5
    .input
      %input{type: 'checkbox'}
      %label Accessing R&D +4
    .input
      %input{type: 'checkbox'}
      %label Unlocking the maintenance room and Deck 1 Access +6
